input.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

ul.horizontal-list {
  min-width: 200px;
  padding-top: 20px;
  padding-left: 2px;
  border-bottom: #1f6fb2 solid 1px;
  margin: 30px;
}

ul.horizontal-list li {
  min-width: 200px;
  padding-top: 20px;
  padding-left: 2px;
  margin: 30px;
}

a.list-group-item {
  background-color: #f8fafc !important;
  border-bottom: .1px;
}

div.product-info {
  width: 80px;
  padding-top: 2px;
  padding-left: 2px;
  margin: 8px;
}

div.product-name {
  width: 120px;
}

div.product-grape {
  width: 180px;
}

div.product-brand {
  width: 100px;
}

div.product-year {
  width: 80px;
}

div.product-price {
  width: 80px;
}

div.product-size {
  width: 80px;
}

div.product-cap {
  width: 80px;
}

div.product-label {
  width: 50px;
}

div.product-stock {
  width: 80px;
}

/*
   start styling for timer
*/

#timer {
  display: flex;
  justify-content: center;
}

.base-timer {
  position: relative;
  width: 100px;
  height: 100px;
}

.base-timer__label {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  /* Just as thick as the original ring */
  stroke-width: 7px;
  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;
  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;
  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;
  /* Allows the ring to change color when the color value updates */
  stroke: #41b883;
}

.base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(-1);
}

/*
end styling for timer
*/

/* table style */

table {
  border: 1px solid #ccc;
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

table tr {
  border: 1px solid #ddd;
  padding: 5px;
  background: #fff;
}

table tbody tr {
  opacity: 0.7;
  transition: 0.2;
}

table tbody tr:hover {
  opacity: 1;
}

table th.first,
table td.first {
  text-align: left;
}

table th.last,
table td.last {
  text-align: right;
}

table th,
table td {
  padding: 10px;
  text-align: center;
}

table th {
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media screen and (max-width: 600px) {
  #card table {
    border: 0;
  }

  #card table thead {
    display: none;
  }

  #card table tr {
    margin-bottom: 20px;
    display: block;
    border-bottom: 2px solid #ddd;
    box-shadow: 2px 2px 1px #dadada;
  }

  #card table td {
    display: block;
    text-align: right;
    font-size: 13px;
  }

  #card table td:last-child {
    border-bottom: 0;
  }

  #card table td::before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }

  #card tbody {
    line-height: 0 !important;
  }
}

.wine_name {
  text-align: left;
}

